# Build output
*.js.map

# npm
node_modules/

# IDE
.idea/
.vscode/

# Obsidian
data.json

# Local config
.env

main.js

# Package output
# Note: we would have to change/remove 'deploy-local' if we ever wanted to start committing this directory.
release/
